<% if @quest.errors.any? %>
    <div class="comment_con_border1">
      <div class="comment_con_border2">
        <div class="comment_con_border3">
          <ul>
            <% @quest.errors.full_messages.each do |msg| %>
              <a class="error"><%= msg %></a><br/>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="formspace">
    <div class="formcenter">
<%= form_for(@quest) do |f| %>
  <div class="field">
    <%= f.label :title,t('quest.title') %><br />
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :description,t('quest.description') %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :syscmd,t('quest.syscmd') %><br />
    <%= f.text_area :syscmd %>
  </div>
  <div class="field">
    <%= f.label :price,t('quest.price') %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quest_type_id,t('quest.type') %><br />
    <%= f.select :quest_type_id,QuestType.all.collect {|p| [ p.title, p.id ] }  %>
  </div>
  <div class="field">
    <%= f.label :show,t('quest.show') %><br />
    <select id="quest_show" name="quest[show]">
      <option value="1"<%= (@quest.show ? ' selected="selected" ' : "")%>><%= t('quest.enabled') %></option>
      <option value="0"<%= ((not @quest.show) ? 'selected="selected"' : "")%>><%= t('quest.disabled') %></option>
    </select>
  </div>
  <div class="actions">
    <br/>
    <%= f.submit t('quest.update') %>
  </div>
<% end %>
    </div>
  </div>