<h1><%= t('quests.title') %></h1>
<div class="vv">
  <br/>
  <% if session[:admin] and (@quests.length <= 0 or @quest_types.length<=0) %>
  <div class="quest_admin_field">
    <%= button_to(t('quests.new_quest_type'),{:controller=>'quest_types',:action=>'new'},:method=>'get')%>
    <%= button_to(t('quests.new_quest'),{:action=>'new'},:method=>'get') %>
  </div>
    <br/>
  <% end %>
  <table class="quests_table" border="1" frame="void" rules="none" cellpadding="14">
    <thead>
      <tr>
        <%  @quest_types.each do | quest_type | %>
          <td><a class="quest_type_item"><%= quest_type.title  %></a>
            <% if session[:admin] %>
              <br/>
              <%= button_to t('control.new'),{:controller=>'quest_types',:action=>'new'},:method=>'get' %>
              <%= button_to t('control.edit'),{:controller=>'quest_types',:action=>'edit',:id=>quest_type.id},:method=>'get' %>
              <%= button_to t('control.delete'),{:controller=>'quest_types',:action=>'destroy',:id=>quest_type.id},:method=>'delete' %>
              <br/>
            <% end %></td>
        <%  end %>
      </tr>
    </thead>
    <tbody>
      <%
      if @quests.length > 0 then
        prev_price = @quests.first.price
        i = 0
        while i < @quests.length do
        %><tr><%
            for j in (0..@quest_types.length-1)
              quest_type = @quest_types[j]
              if i >= @quests.length
                break
              end
              quest = @quests[i]
              if quest.price != prev_price then
                prev_price = quest.price
                break
              end
              quest_class='quest_item'
              if not quest.show then
                quest_class = 'quest_item_disabled'
              end
              if quest.quest_type_id != quest_type.id then
              %><td></td><%
              else %>
                <td>
                  <%= link_to quest.price.to_s,{:action=>'show',:id=>quest.id},:class=>quest_class %>
                  <% if session[:admin] then %>
                    <%= button_to(t('control.new'),{:action=>'new'},:method=>'get') %>
                    <%= button_to(t('control.edit'),{:action=>'edit',:id=>quest.id},:method=>'get') %>
                    <%= button_to(t('control.delete'),{:action=>'destroy',:id=>quest.id},:method=>'delete',:confirm=>'Are you sure?') %>
                  <% end %>
                </td><%
                if i >= @quests.length then
                  break
                end
                i = i + 1
              end

            end
          %></tr><%
        end
      end
    %>
    </tbody>
  </table>
</div>