<h1><%= t('quests.title') %></h1>
<div class="vv">
  <br/>
  <% if session[:admin] and (@quests.length <= 0 or @quest_types.length<=0) %>
    <div class="quest_admin_field">
      <%= button_to(t('quests.new_quest_type'),{:controller=>'quest_types',:action=>'new'},:method=>'get')%>
      <%= button_to(t('quests.new_quest'),{:action=>'new'},:method=>'get') %>
    </div>
    <br/>
  <% end %>
  <table class="quests_table" border="1" frame="void" rules="none" cellpadding="14">
    <thead>
      <tr>
        <%  @quest_types.each do | quest_type | %>
          <td><a class="quest_type_item"><%= quest_type.title  %></a>
            <% if session[:admin] %>
              <br/>
              <%= button_to t('control.new'),{:controller=>'quest_types',:action=>'new'},:method=>'get' %>
              <%= button_to t('control.edit'),{:controller=>'quest_types',:action=>'edit',:id=>quest_type.id},:method=>'get' %>
              <%= button_to t('control.delete'),{:controller=>'quest_types',:action=>'destroy',:id=>quest_type.id},:method=>'delete' %>
              <br/>
            <% end %></td>
        <%  end %>
      </tr>
    </thead>
    <tbody>
      <%
      qts = {}
      @quest_types.each do |quest_type|
        qts[quest_type.id] = -1
      end
      begin
      %><tr><%
          @quest_types.each do |item|
            id = item.id
            pos = qts[id]
            if qts[id] == -1 then
              qts[id] = 0
            end
            while (qts[id] < @quests.length) do
              if @quests[qts[id]].quest_type.id == id and qts[id] != pos then
                break
              end
              qts[id] = qts[id] + 1
            end
            if qts[id] < @quests.length  then
            %><td><%= link_to @quests[qts[id]].price,{:action=>'edit',:id=>@quests[qts[id]].id} %>
                <% if session[:admin] %>
                  <br/>
                  <%= button_to t('control.new'),{:controller=>'quests',:action=>'new'},:method=>'get' %>
                  <%= button_to t('control.edit'),{:controller=>'quests',:action=>'edit',:id=>@quests[qts[id]].id},:method=>'get' %>
                  <%= button_to t('control.delete'),{:controller=>'quests',:action=>'destroy',:id=>@quests[qts[id]].id},:method=>'delete' %>
                  <br/>
                <% end %>
              </td>
            <% else %><td></td><%

              end
          end
        %></tr><%
        shall_exit = true
        qts.each do |indx,val|
          shall_exit = (val >= @quests.length and shall_exit)
        end
      end until shall_exit
    %>
    </tbody>
  </table>
</div>