<div class="quest_border">
  <h1><%= @quest.title %></h1>
  <p style="font-size: 23px;"><%=  @quest.price.to_s %></p>
  <p style="white-space:pre-wrap; "><%= raw  @quest.description %></p>
  <%= form_tag url_for :action=>'answer',:id=>@quest.id do %>

    <%= text_field_tag(:answer) %>
    <%= submit_tag("Reply")  %>
  <% end %>
  <% if @hints.length > 0 then %>
    <ul>
      <%  @hints.each do | hint |
        if hint.show then %>
          <li><%= raw hint.content %></li>
        <% end
      end
    %></ul>
    <%  if session[:admin] then %>
      <table>
        <tbody>
          <tr>
            <td><%= button_to('Edit',{:action=>'edit',:id=>@quest.id},:method=>'get') %></td>
            <td><%= button_to('Delete',{:action=>'destroy',:id=>@quest.id},:method=>'delete',:confirm=>'Are you sure?') %></td>
          </tr>
        </tbody>
      </table>
    <%  end %>
  <% end %>
</div>