<h1><%= t('auth.title') %></h1>
<div class="vv">
  <br/>
  <div class="formspace">
    <div class="formcenter_auth">
      <%= form_tag(auth_login_path, :method=>"post") do %>
        <%= label_tag(:login, t('auth.username')) %><br/>
        <%= text_field_tag(:login) %><br/>
        <%= label_tag(:password, t('auth.password')) %><br/>
        <%= password_field_tag(:password) %><br/>
        <br/>
        <%= submit_tag t('auth.enter') %><br/>
      <% end %>
    </div>
  </div>
</div>