<div class="vv">
  <h1 class="main_title"><%= t('quest_type.edit') %></h1>
  <% if @quest_type.errors.any? %>
    <div class="comment_con_border1">
      <div class="comment_con_border2">
        <div class="comment_con_border3">
          <ul>
            <% @quest_type.errors.full_messages.each do |msg| %>
              <a class="error"><%= msg %></a><br/>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="formspace">
    <div class="formcenter">
      <%= form_tag :action=>'update' do  %>
        <div class="field">
          <%= label_tag :title,t('quest_type.title') %><br />
          <%= text_area_tag :title,@quest_type.title %>
        </div>
        <div class="actions">
          <br/>
          <%= submit_tag t('quest_type.update') %>
        </div>
      <% end %>
      <br/>
      <%= link_to t('quest_type.back'), :controller=>'quests' %>
    </div>
  </div>
</div>