<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('mail.welcome') %> <%= @user.realname %></h1>
    <p>
      <%= t('mail.registred') %>  <%= @hostname %>,
      <%= t('mail.nickname') %> <%= @user.nickname %>.<br/>
      <%= t('mail.password') %> <%= @user.password %>
    </p>
    <p><%= t('mail.thanks') %></p>
  </body>
</html>