<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('mail.welcome') %> <%= @user.realname %></h1>
    <p>
      <%= t('mail.registred') %> <%= @hostname %>.
      <%= t('mail.your_nickname') %> <%= @user.nickname %>.<br/>
    </p>
    <p>
      <%= t('mail.confirm') %><br/>
      <a href="<%= raw url_for :controller=>'users',:action=>'activate',:key=>@user.md5hash,:only_path=>false,:host=>@hostname %>"><%= url_for :controller=>'users',:action=>'activate',:key=>@user.md5hash,:only_path=>false,:host=>@hostname %></a>
    </p>
    <p><%= t('mail.thanks') %></p>
  </body>
</html>