<% if @user.errors.any? %>
  <div class="comment_con_border1">
    <div class="comment_con_border2">
      <div class="comment_con_border3">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <a class="error"><%= msg %></a><br/>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="formspace">
  <div class="formcenter">
    <%= form_for(@user) do |f| %>
      <%= f.label :realname,t('user.realname') %><br/>
      <%= f.text_area :realname %><br/>
      <%= f.label :nickname,t('user.nickname') %><br />
      <%= f.text_area :nickname %><br/>
      <%= f.label :university,t('user.university') %><br />
      <%= f.text_area :university %><br/>
      <%= f.label :email,t('user.email') %><br />
      <%= f.text_area :email %><br/>
      <%= f.label :password,t('user.password') %><br />
      <%= f.text_area :password %><br/>
      <%= f.label :price,t('user.price') %><br />
      <%= f.text_area :price %><br/>
      <%= f.label :enabled,t('user.enabled') %><br />
      <select name="user[enabled]" id="user_enabled">
        <option value="0" <%= raw (not @user.enabled) ? 'selected="selected"' : '' %>><%= t('user.no__') %></option>
        <option value="1" <%= raw @user.enabled ? 'selected="selected"' : '' %>><%= t('user.yes__') %></option>
      </select><br/>
      <%= f.label :admin,t('user.admin') %><br />
      <select name="user[admin]" id="user_admin">
        <option value="0" <%= raw (not @user.enabled) ? 'selected="selected"' : '' %>><%= t('user.no__') %></option>
        <option value="1" <%= raw @user.enabled ? 'selected="selected"' : '' %>><%= t('user.yes__') %></option>
      </select><br/>
      <br/>
      <%= f.submit t('user.send') %>
    <% end %>
  </div>
</div>