<div class="user_border">
<h1>Listing users</h1>

<table>
  <tr>
    <th>Real name</th>
    <th>Nickname</th>
    <th>University</th>
    <th>E-mail</th>
    <th>Price</th>
    <th>Enabled</th>
    <th>Administrator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.realname %></td>
    <td><%= user.nickname %></td>
    <td><%= user.university %></td>
    <td><%= user.email %></td>
    <td><%= user.price %></td>
    <td><%= user.enabled %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
</div>