<h1><%= t('registration.title') %></h1>
<div class="vv">
  <% if @user.errors.any? %>
    <div class="comment_con_border1">
      <div class="comment_con_border2">
        <div class="comment_con_border3">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <a class="error"><%= msg %></a><br/>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <br/>
  <div class="register_form">
    <%= form_tag((url_for :action=>'do_register'),:method=>'post') do %>
      <%= label :realname, t('registration.realname') %><br/>
      <%= text_field_tag :realname,@user.realname %><br/>
      <%= label :realname, t('registration.nickname') %><br/>
      <%= text_field_tag :nickname,@user.nickname%><br/>
      <%= label :realname, t('registration.university') %><br/>
      <%= text_field_tag :university,@user.university%><br/>
      <%= label :realname, t('registration.email') %><br/>
      <%= text_field_tag :email,@user.email%><br/>
      <br/>
      <%= submit_tag t('registration.register') %>
    <% end %>
  </div>
</div>