<h1><%= t('user.dossier') %></h1>
<div class="vv">
  <br/>
  <table class="user_info">
    <tbody>
      <tr><td><a><%= t('user.name') %></a></td><td><%= @user.realname %></td></tr>
      <tr><td><a><%= t('user.nickname') %></a></td><td><%= @user.nickname %></td></tr>
      <tr><td><a><%= t('user.university') %></a></td><td><%= @user.university %></td></tr>
      <tr><td><a><%= t('user.status') %></a></td><td><%= @user.admin ? t('user.administrator') : t('user.user') %></td></tr>
    </tbody>
  </table>
</div>