<br/>
<br/>
<div class="text-center">
  <% k = 3 %>
  <% if @register_enabled and @register_end_time > DateTime.now then %>
  <br/>
    <a href="<%= url_for :controller=>'users',:action=>'register' %>" class="<%= true ? ("main_label" + k.to_s) : "hidden" %>">Deadline for registration</a><br/>
    <a id="reg_end" class="<%= true ? ("main_level" + k.to_s) : "hidden" %>"></a>
  <% end %>
  <% if @game_enabled and @game_begin_time > DateTime.now then %>
    <br/>
    <% k = k - 1  %>
    <a class="<%= true ? ("main_label" + k.to_s) : "hidden" %>">Left before the game</a><br/>
    <a id="game_begin" class="<%= true ? ("main_level" + k.to_s) : "hidden" %>"></a>
  <% end %>
  <% if @game_enabled and @game_end_time > DateTime.now then %>
    <br/>
    <%  k = k - 1  %>
    <a class="<%= true ? ("main_label" + k.to_s) : "hidden" %>">Left until the end of the game</a><br/>
    <a id="game_end" class="<%= true ? ("main_level" + k.to_s) : "hidden" %>"></a>
  <% end %>
</div>
<script type="text/javascript">
  function checkTime(value)
  {
    str = "" + value;
    if (value < 10)
    {
      str = "0" + str;
    }
    return str;
  }
  function getTimeInfo(cur_time)
  {
    now = new Date();
    if (cur_time.getTime() <= now.getTime())
    {
      return "";
    }
    cur_time.setTime(cur_time.getTime() - now.getTime() );
    year = cur_time.getUTCFullYear() - 1975;
    month = cur_time.getUTCMonth();
    day = cur_time.getUTCDate() - 1;
    hour = checkTime(cur_time.getUTCHours());
    min = checkTime(cur_time.getUTCMinutes());
    sec = checkTime(cur_time.getUTCSeconds());
    str = "";
    if (year > 0)
    {
      str = year + " years " + str
    }
    if (month > 0)
    {
      str = str + month + " months "
    }
    if (day > 0)
    {
      str = str + day + " days "
    }
    if (hour >= 0)
    {
      str = str + hour + ":"
    }
    if (min >= 0)
    {
      str = str + min + "."
    }
    if (sec >= 0)
    {
      str = str + sec
    }
    return str;
  }
  function increaseTime()
  {
    tinfo_end_reg = getTimeInfo(new Date("<%= @register_end %>"));
    tinfo_begin = getTimeInfo(new Date("<%= @game_begin %>"));
    tinfo_end = getTimeInfo(new Date("<%= @game_end %>"));
    reg_end = document.getElementById('reg_end');
    if (reg_end)
    {
      reg_end.text = tinfo_end_reg;
    }
    game_begin = document.getElementById('game_begin');
    if (game_begin)
    {
      game_begin.text = tinfo_begin;
    }
    game_end = document.getElementById('game_end');
    if (game_end)
    {
      game_end.text = tinfo_end;
    }
    setTimeout(increaseTime,100);
  }
  setTimeout(increaseTime,1);
</script>
<div class="main_page_content"><%= raw @main_page_content %></div>