<h1><%= t('news.title') %></h1>
<div class="vv">
  <% if @news.count <= 0 and session[:admin] then # url_for() %>
    <br/>
    <%= link_to t('news.new_item'),{:controller=>'news',:action=>'new'},{:class=>'new_news_item'} %>
    <br/>
  <% end %>
  <% kevaconf = KevaConfig.where(:key => 'news_comments').first %>
  <% @news.each do |news_item| %>
    <br/>
    <h2 style="color:black;text-align: left; margin-left: 50px"><%= link_to news_item.title,:action=>'show',:id=>news_item.id %></h2>
    <div class="news_align"><p><%= raw  news_item.content %></p>
      <br/>
      <div class="news_info">
        <%= link_to (news_item.user.realname or news_item.user.nickname), (url_for :controller=>'users',:action=>'show',:id=>news_item.user.id ),{:class=>'username_link'} %>
        <a class="news_item_time"><%= news_item.created_at.to_s %></a>
        <% if kevaconf and kevaconf.value == "Enabled" then %>
          <%= link_to (news_item.comment.count.to_s + " " + t('news.comments')),(url_for :action=>'comments', :id => news_item.id),{:class=>'news_item_time'} %>
          <%= link_to t('news.add_comment'),url_for(:action=>'new_comment',:id => news_item.id),{:class=>'news_item_time'} %>
        <% end %>
      </div>
      <% if session[:admin] then %>
        <table>
          <tbody>
            <tr>
              <td><%= button_to t('control.new'),{:action=>'new'},:method=>'get'%></td>
              <td><%= button_to t('control.edit'),{:action=>'edit',:id=>news_item.id},:method=>'get' %></td>
              <td><%= button_to t('control.delete'),{:action=>'destroy',:id=>news_item.id},:method=>'delete',:confirm=>'Are you sure?' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      </div>
  <% end %>
</div>