<h1>News</h1>
<hr noshade width="95%" style="color:white;background-color: #FCFCFC;"></hr>
<div>
  <h2 style="margin-left: 3%"><%= link_to @news_item.title, news_path(@news_item) %></h2>
  <div style="padding-left: 5%"><p><%= raw  @news_item.content %></p>
   <p><%= link_to (@news_item.user.realname or @news_item.user.nickname), users_path(@news_item.user)  %> (<%= @news_item.created_at.to_s %> )</p>
   <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <%= form_tag((url_for :action => 'create_comment'),:method=>'post') do %>
   <%= label_tag('comment_title','Title') %><br/>
   <%= text_field_tag('comment_title',@comment.title) %><br/>
   <%= label_tag('comment_content','Message') %><br/>
   <%= text_area_tag 'comment_content',@comment.content%><br/>
   <%= submit_tag 'Send',:id=>"comment_submit_button" %>
   <% end %>
  </div>
</div>

