<h1><%= t('news.title') %></h1>
<div class="vv">
  <% kevaconf = KevaConfig.where(:key => 'news_comments').first %>
  <br/>
  <h2 style="color:black;text-align: left; margin-left: 50px"><%= link_to @news_item.title,:action=>'show',:id=>@news_item.id %></h2>
  <div class="news_align"><p><%= raw  @news_item.content %></p>
    <br/>
    <div class="news_info">
      <%= link_to (@news_item.user.realname or @news_item.user.nickname), (url_for :controller=>'users',:action=>'show',:id=>@news_item.user.id ),{:class=>'username_link'} %>
      <a class="news_item_time"><%= @news_item.created_at.to_s %></a>
      <% if kevaconf and kevaconf.value == "Enabled" then %>
        <%= link_to (@news_item.comment.count.to_s + " " + t('news.comments')),(url_for :action=>'comments', :id => @news_item.id),{:class=>'news_item_time'} %>
        <%= link_to t('news.add_comment'),url_for(:action=>'new_comment',:id => @news_item.id),{:class=>'news_item_time'} %>
      <% end %>
    </div>
    <% if session[:admin] then %>
      <table>
        <tbody>
          <tr>
            <td><%= button_to t('control.edit'),{:action=>'edit',:id=>@news_item.id},:method=>'get' %></td>
            <td><%= button_to t('control.delete'),{:action=>'destroy',:id=>@news_item.id},:method=>'delete',:confirm=>'Are you sure?' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    <% if @comment.errors.any? %>
      <div class="comment_con_border1">
        <div class="comment_con_border2">
          <div class="comment_con_border3">
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <a class="error"><%= msg %></a><br/>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <%= form_tag((url_for :action => 'create_comment'),:method=>'post') do %>
      <%= label_tag('comment_title',t('comment.title')) %><br/>
      <%= text_field_tag('comment_title',@comment.title) %><br/>
      <%= label_tag('comment_content',t('comment.message')) %><br/>
      <%= text_area_tag 'comment_content',@comment.content%><br/>
      <%= submit_tag t('comment.send'),:id=>"comment_submit_button" %>
    <% end %>
  </div>
</div>


