<h1 class="main_title"><%= t('scoreboard.title') %></h1>
<div class="vv">
  <table class="scoreboard_table" frame="void" rules="none" cellpadding="14">
    <thead><tr class="score_head_item"><td><%= t('scoreboard.name') %></td><td><%= t('scoreboard.score') %></td><td><%= t('scoreboard.finished') %></td></tr></thead>
    <tbody>
      <% if @finished_count > 0 then %>
        <% @users.each do | user | %>
          <tr><td><%= user.realname %> (<%= link_to user.nickname, user %>)</td><td><%= user.price %></td><td><%= ((user.quest.count * 100) / @finished_count).to_s + ' %' %></td></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
