<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t 'main_page.title' %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/stylesheets/st.css?1297603413" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/common.css?1297603413" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/kevactf.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="all">
      <div id="hd">
        <div id="navbar">
          <ul>
            <li><%= link_to t('main_page.main_page'), root_path, :class=>'menu_item'%></li>
            <li><%= link_to t('main_page.news'), news_path, :class=>'menu_item'%></li>
            <% if @game_enabled and @game_begin_time > DateTime.now or @admin then %>
              <li><%= link_to t('main_page.scoreboard'), scoreboard_path, :class=>'menu_item'%></li>
              <li><%= link_to t('main_page.quests'), quests_path, :class=>'menu_item'%></li>
            <% end %>
            <% if @register_enabled and @register_end_time > DateTime.now  or @admin then %>
              <li><%= link_to t('main_page.register'), register_path, :class=>'menu_item'%></li>
            <% end %>
            <% if @countdown then %>
              <li><%= link_to t('main_page.countdown'),countdown_path ,:class=>'menu_item' %></li>
            <% end %>
          <% if @admin then %>
            <li><%= link_to t('main_page.admin'), admin_path, :class=>'menu_item' %></li>
            <li><%= link_to t('main_page.users'), users_path, :class=>'menu_item' %></li>
          <% end %>
            <li><%= if not @logged_in then
              link_to t('main_page.login'), auth_path, :class=>'menu_item'
            else
              link_to t('main_page.logout'), auth_logout_path, :class=>'menu_item'
            end
          %></li>
          </ul>
        </div>
        <div id="orangeline">
        <% if not session[:admin] then %>
          <a href="#">
            <img id="logo" src="/images/logo.png" alt="TUSUR Challenge Competition"/>
          </a>
        <% end  %>
        </div>
      </div>

      <div id="ct"><%= yield %></div>
      <div id="ft">
        <div class="l">
        <% if @irc != '' then %>
          <a>irc: <%= @irc %></a>
        <% end %>
        <% if @email!= '' then %>
          <a>email: </a><a href="mailto:<%= @email %>"><%= @email %></a>
        <% end %>
        </div>
        <div class="c">development &amp; design by <a href="http://keva.su">KEVA</a> Team</div>
      </div>
    </div>
  </body>
</html>